In [1]:
import folium
import os
import pandas as pd

from functions import *

### Getting Data to use

In [2]:
freedom = pd.read_csv("Data/hfi_cc_2019.csv")[["year", "ISO_code", "hf_score"]]

In [3]:
freedom = year(freedom, 2017)

In [4]:
freedom = drop_feature(freedom, features=["year"])

In [5]:
freedom.head()

  ISO_code hf_score
0      ALB     7.84
1      DZA     4.99
2      AGO      5.4
3      ARG     6.86
4      ARM     7.42

In [6]:
freedom.dtypes

ISO_code    object
hf_score    object
dtype: object

In [7]:
freedom["hf_score"] = freedom["hf_score"].astype(float)

In [8]:
freedom.dtypes

ISO_code     object
hf_score    float64
dtype: object

In [9]:
freedom.head()

  ISO_code  hf_score
0      ALB      7.84
1      DZA      4.99
2      AGO      5.40
3      ARG      6.86
4      ARM      7.42

### Creating map

In [37]:
# Creating folium object
m = folium.Map(location=[20, 100], zoom_start=2)

In [38]:
world = os.path.join("Data", "world.json")  # json file of all country coordinates

In [39]:
m.choropleth(
geo_data=world,
name="choropleth", 
data=freedom,
columns=["ISO_code", "hf_score"],
key_on="feature.id",
fill_color="YlOrRd", 
fill_opacity=0.5,
line_opacity=0.2,
legend_name="Human Freedom Score"
)

folium.LayerControl().add_to(m)

m.save("humanFreedomScoreMap.html")